{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li>{{item.id}} - {{item.status}} - {{item.title}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/addItem" method="post" class="new-item-form">
    <div class="new-item-form">
      <label for="title">Item title: </label>
      <input type="text" name="title" id="title" required>
    </div>
    <div class="new-item-form">
      <input type="submit" value="Create">
    </div>
  </form>

  <form action="/removeItem" method="post" class="delete-item-form">
    <div class="delete-item-form">
      <label for="itemID">Item ID: </label>
      <input type="number" name="itemID" id="itemID" required>
    </div>
    <div class="delete-item-form">
      <input type="submit" value="Delete">
    </div>
  </form>
{% endblock %}